@model List<BiblioRepo.Web.Models.Product>

@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center mt-3 ">
    <h1>All products</h1>
</div>

<div class="row pb-3">
    @foreach(var product in Model)
    {
        <div class="col-lg-3 col-sm-6">
            <div class="row p-2">
                <div class="col-12 p-1">
                    <div class="card border-0 p-3 shadow  border-top border-5 rounded">
                        <img src="@product.ImageUrl" height="300px" class="card-img-top rounded" />

                        <div class="card-body pb-0">
                            <div class="pl-1">
                                <p class="card-title h5 text-dark opacity-75 text-uppercase text-center">@product.Name</p>
                                <p class="card-title text-warning text-center">by <b>@product.Author</b></p>
                            </div>
                            <div class="pl-1">
                                <p class="text-dark text-opacity-75 text-center mb-0">
                                    List Price:
                                    <span class="text-decoration-line-through">
                                        Rs. @product.Price
                                    </span>
                                </p>
                            </div>
                            <div class="pl-1">
                                <p class="text-dark text-opacity-75 text-center">
                                    Buy now at:
                                    <span>
                                        Rs. @product.DiscountedPrice
                                    </span>
                                </p>
                            </div>
                        </div>
                        <div>
                            <a class="btn btn-primary bg-gradient border-0 form-control" asp-area="Admin" asp-controller="Product" asp-action="Detail" asp-route-Id="@product.Id">
                                Details
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>